body {
    min-height: 100vh;
    background: linear-gradient(to right, #413d3d, #31302f, #413d3d);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

header {
    border-radius: 0 0 3rem 3rem !important;
    font-size: 1.5rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a:hover {
    color: #696867 !important;
    border-bottom:1px solid #646362 !important;
}

main {
    padding-top: 5rem;
}

.top {
    margin-top: 0;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.bottom {
    margin-bottom: 2rem;
}

.project, .contact {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
}

.margin {
    margin: 1.5rem;
}

.project img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.languages {
    color: rgb(85, 85, 226);
}

.project {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    margin-bottom: 4rem;
}

.form label {
    margin-bottom: 1rem;
}

.form input, .form textarea {
    margin-bottom: 2rem;
    height: 2.5rem;
}

.form textarea {
    height: 8rem;
}

.form input, .form textarea {
    display: block;
    width: 100%;
}

.form button {
    display: block;
    margin: 0 auto;
}

.footer {
    min-height: 8rem;
    margin-top: 5rem;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.footer div {
    padding-top: 2.5rem;
}

.left {
    margin-right: 2rem;
}

.pinfo div p {
    text-align: center;
}

.pinfo div ul {
    list-style: none;
}

footer {
    min-height: 100px;
}