{% extends "dashboard/nav.html" %}

{% block main %}

    <hr>
    <h2>Add Project</h2>
    <hr>

    <form class="text-center" action="/dashboard/addproject" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-column">
            <input name="name" type="text" placeholder="Project Name">
            <input name="description" type="text" placeholder="Project Description">
            <input name="languages" type="text" placeholder="Project Languages/Tools">
            <input name="img" type="file">
            <input name="video" type="file">
            <button type="submit">Add Project</button>
        </div>
    </form>
{% endblock %}