{% extends "dashboard/dashboard.html" %}

{% block nav %}

<nav class="">
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Records</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/adduser">Add User</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/addproject">Add Project</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/logout">Log Out</a></li>
    </ul>
</nav>

{% endblock %}