{% extends "dashboard/nav.html" %}

{% block main %}
    <hr>
    <h2>Projects</h2>
    <hr>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Languages</th>
                    <th>Image</th>
                    <th>Video</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for row in project %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>
                        <form action="/dashboard" method="post">
                            <button name="btn" value="{{row[0]}}" type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="/dashboard/delete" method="post">
                            <button name="btn" value="{{row[0]}}" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>

    <hr>
    <h2>Contact</h2>
    <hr>

    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                {% for row in contact %}
                <tr>
                    <th>{{loop.index}}</th>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
{% endblock %}