{% extends "dashboard/nav.html" %}

{% block main %}
    <hr>
    <h2>Update</h2>
    <hr>
    
    <form action="/dashboard/update" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-column">
            <input name="id" type="text" value="{{record[0][0]}}" readonly hidden>
            <input name="name" value="{{record[0][1]}}" type="text">
            <input name="description" value="{{record[0][2]}}" type="text">
            <input name="languages" value="{{record[0][3]}}" type="text">
            <input name="img" type="file">
            <input name="video" type="file">
            <button type="submit">Update Project</button>
        </div>
    </form>
        
    </div>
{% endblock %}